.big-container {
	width: 100%;
}
.page-title {
	background-color: #fff;
	width: fit-content;
	margin: 0 auto;
}

.livro-title {
	text-align: center;
}

.livro-content {
    margin: 0 auto;	
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    border-bottom: 1px solid;
    border-color: aliceblue;
}
.livro-avatar {
	width: 350px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.sinopse {
	font-size: 18px;
	font-weight: normal;
	font-family: "PT Serif","Helvetica Neue",sans-serif;
	line-height: 1.4285em;
	color: rgba(0,0,0,0.6);
}

.sinopse-container {
	padding-left: 100px;
	padding-top: 20px;
	width: 400px;
}

.row {
	flex-wrap: nowrap;
	display: flex;
	width: 800px;
	background-color: #fff;
}

.avatar {
	padding-top: 120px;
}

.buy {
	font-size: 22px;
	font-weight: normal;
}

.option-buy {
	font-size: 17px;
	font-weight: normal;
}

