.HeadOptions {
    padding-top: 20px;
    background-color: #2d1010;
    height: 60px;
}

ul {
    margin: 0;
}

li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
}

a {
    cursor: pointer;
}

.TopLinks {
    padding: 10px;
    font-size: 14px;
    color: #ba007c;
    font-family: "Courier New";
}

.TopLinks:hover {
    color: #555;
}
